# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment-specific files
.env
config.ini

# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db
